/* settings.less */

@blue: #356ab9;
@green: #c9d640;
@linkcolor: #111;
@linkhovercolor: #555;
@secondarymeny-active: #F9F9F9;

@mainfont: 'Monda', Arial, helvetica, sans-serif;
@headerfont: 'Monda', Arial, helvetica, sans-serif;

@basemargin: 10px;
